<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>发送邮件</title>
    <link th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/sweetalert.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="col-md-8" style="margin:20px;padding:20px;border: #E0E0E0 1px solid;">

    <form class="form-horizontal" id="mailForm" th:attr="url=@{/mail/send}">
        <div class="form-group">
            <label class="col-md-2 control-label">邮件发信人:</label>
            <div class="col-md-8">
                <input class="form-control" id="from" name="from" th:value="${from}" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">邮件收信人:</label>
            <div class="col-md-8">
                <input class="form-control" id="to" name="to" title="多个邮箱使用,隔开">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">邮件主题:</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="subject" name="subject">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">邮件内容:</label>
            <div class="col-md-8">
                <textarea class="form-control" id="text" name="text" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><input class="check-box" type="checkbox" id="html" name="html"/>内容是Html</label>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">邮件附件:</label>
            <div class="col-md-8">
                <input class="form-control" id="files" name="files" type="file" multiple="multiple">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">邮件操作:</label>
            <div class="col-md-3">
                <a class="form-control btn btn-primary" onclick="sendMail()">发送邮件</a>
            </div>
            <div class="col-md-3 mt-3">
                <a class="form-control btn btn-info" onclick="clearForm()">清空</a>
            </div>
        </div>
    </form>


</div>
</body>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/swalUtil.js}"></script>
<script th:src="@{/js/sweetalert.min.js}"></script>
<script th:inline="javascript">
    var sendUrl = $('#mailForm').attr("url");
    console.log(sendUrl)

    function sendMail() {

        var formData = new FormData($('#mailForm')[0]);
        $.ajax({
            url: sendUrl,
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result.status === 'ok') {
                    swalTextWithType("发送成功！", "成功了！", swalType.SUCCEED);
                } else {
                    swalTextWithType("发送失败！", result.error, swalType.ERROR);
                }
            },
            error: function () {
                swalTextWithType("发送失败！", "失败了！", swalType.ERROR);
            }
        });
    }

    function clearForm() {
        $('#mailForm')[0].reset();
    }

</script>
</html>